################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maktab/FileContentIndex/738cefd1-35a5-403a-8585-a1663e18272a.vsidx
/.vs/Maktab/v17
/Application.Users/bin
/Application.Users/obj
/Application.Users.Implementation/bin
/Application.Users.Implementation/obj
/Application.Users.Registry/bin
/Application.Users.Registry/obj
/Application.Users.Repository/bin
/Application.Users.Repository/obj
/Application.Users.Repository.Implementation/bin
/Application.Users.Repository.Implementation/obj
/CronJob/bin/Debug/net8.0
/CronJob/obj
/CronJob.Implementation/bin/Debug/net8.0
/CronJob.Implementation/obj
/CronJob.Registry/bin/Debug/net8.0
/CronJob.Registry/obj
/Data/bin
/Data/obj
/Data.MySql/bin
/Data.MySql/obj
/Data.MySql.Regjstry/bin
/Data.MySql.Regjstry/obj
/Elavon/bin
/Elavon/obj
/Elavon.Implementation/bin
/Elavon.Implementation/obj
/Elavon.Registry/bin
/Elavon.Registry/obj
/Email/bin
/Email/obj
/Email.Implementation/bin
/Email.Implementation/obj
/Email.Registry/bin
/Email.Registry/obj
/InternalContracts/bin
/InternalContracts/obj
/InternalContracts.Implementation/bin
/InternalContracts.Implementation/obj
/InternalContracts.Registry/bin
/InternalContracts.Registry/obj
/Maktab/bin/Debug/net8.0
/Maktab/obj
/Resiliency/bin
/Resiliency/obj
/Resiliency.Implementation/bin
/Resiliency.Implementation/obj
/Resiliency.Registry/bin
/Resiliency.Registry/obj
/Sedat/obj
/Sedat.Implementation/obj
/Sedat.Registry/obj
/Users.Utils,Implementation/bin
/Users.Utils,Implementation/obj
/Users.Utils/bin
/Users.Utils/obj
/WebMsgSender/bin
/WebMsgSender/obj
/WebMsgSender.Implementation/bin
/WebMsgSender.Implementation/obj
/WebMsgSender.Registry/bin
/WebMsgSender.Registry/obj
/.vs/Maktab/DesignTimeBuild
/Maktab/bin/Release/Content
/.vs/ProjectEvaluation
/.vs/Maktab/FileContentIndex
/.vs/Maktab/config
/Courses/bin/Debug/net8.0
/Courses/obj
/Courses.Implementation/bin/Debug/net8.0
/Courses.Implementation/obj
/Courses.Registry/bin/Debug/net8.0
/Courses.Registry/obj
/Courses.Repository/bin/Debug/net8.0
/Courses.Repository/obj
/Courses.Repository.Implementation/bin/Debug/net8.0
/Courses.Repository.Implementation/obj
/Users.Repository/obj
/Users.Repository.Implementation/obj
/Zeffy/bin/Debug/net8.0/Zeffy.dll
/Zeffy/obj/Debug/net8.0/ref/Zeffy.dll
/Zeffy/obj/Debug/net8.0/refint/Zeffy.dll
/Zeffy/obj/Debug/net8.0/Zeffy.AssemblyInfo.cs
/Zeffy/obj/Debug/net8.0/Zeffy.AssemblyInfoInputs.cache
/Zeffy/bin/Debug/net8.0/Zeffy.pdb
/Zeffy/obj/Debug/net8.0/Zeffy.dll
/Zeffy/obj/Debug/net8.0/Zeffy.pdb
/Zeffy/obj/Debug/net8.0/Zeffy.sourcelink.json
/Zeffy.Implementation/bin/Debug/net8.0/Courses.dll
/Zeffy.Implementation/bin/Debug/net8.0/Courses.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Implementation/obj/Debug/net8.0/ref/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/refint/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.AssemblyInfo.cs
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.AssemblyInfoInputs.cache
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.csproj.AssemblyReference.cache
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.sourcelink.json
/Zeffy.Registry/bin/Debug/net8.0/Courses.dll
/Zeffy.Registry/bin/Debug/net8.0/Courses.pdb
/Zeffy.Registry/bin/Debug/net8.0/Data.dll
/Zeffy.Registry/bin/Debug/net8.0/Data.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Registry.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Registry.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.sourcelink.json
/Zeffy.Repository/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Repository/obj/Debug/net8.0/ref/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/refint/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.AssemblyInfo.cs
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.AssemblyInfoInputs.cache
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.sourcelink.json
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Data.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Data.pdb
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Registry/obj/Debug/net8.0/ref/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/refint/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.AssemblyInfo.cs
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.AssemblyInfoInputs.cache
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.csproj.AssemblyReference.cache
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.pdb
/Zeffy.Repository.Implementation/obj/Debug/net8.0/ref/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/refint/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.AssemblyInfo.cs
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.AssemblyInfoInputs.cache
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.csproj.AssemblyReference.cache
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.sourcelink.json
/Zeffy.Implementation/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.deps.json
/Zeffy/obj/Debug/net8.0/Zeffy.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/Zeffy.Registry/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Repository/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.csproj.AssemblyReference.cache
/Zeffy.Repository.Implementation/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy/bin/Debug/net8.0/MaktabDataContracts.dll
/Microsoft/Windows/PowerShell/ModuleAnalysisCache
/.codex-enumprobe
/.codex-dbprobe
/Courses.Test/bin/Debug/net8.0
/Courses.Test/obj
/Helcim/bin/Debug/net8.0
/Helcim/obj
/Helcim.Implementation/bin/Debug/net8.0
/Helcim.Implementation/obj
/Helcim.Registry/bin/Debug/net8.0
/Helcim.Registry/obj
/Helcim.Repository/bin/Debug/net8.0
/Helcim.Repository/obj
/Helcim.Repository.Implementation/bin/Debug/net8.0
/Helcim.Repository.Implementation/obj
/.tmp-cloudflared-err.log
/.tmp-maktab-err.log
/.tmp-ngrok-out.log
/.tmp-maktab-out.log
/.tmp-cloudflared-out.log
/.tmp-ngrok-err.log
/AppConfigurations/bin/Debug/net8.0
/AppConfigurations/obj
/AppConfigurations.Implementation/bin/Debug/net8.0
/AppConfigurations.Implementation/obj
/AppConfigurations.Registry/bin/Debug/net8.0
/AppConfigurations.Registry/obj
/AppConfigurations.Repository/bin/Debug/net8.0
/AppConfigurations.Repository/obj
/AppConfigurations.Repository.Implementation/bin/Debug/net8.0
/AppConfigurations.Repository.Implementation/obj
/AppConfigurations.Repository.Implementation/Scripts/CreateAppConfigTable.sql
/.tmp-cloudflared-public-err.log
/.tmp-cloudflared-public-out.log
/.tmp-host-err.log
/.tmp-host-out.log
/.tmp-host2-err.log
/.tmp-host2-out.log
/.tmp-host3-err.log
/.tmp-host3-out.log
/.tmp-host4-err.log
/.tmp-host4-out.log
/.tmp-host5-err.log
/.tmp-host5-out.log
/.tmp-host6-err.log
/.tmp-host6-out.log
/.tmp-host7-err.log
/.tmp-host7-out.log
/.tmp-host8-err.log
/.tmp-host8-out.log
/.tmp-cloudflared-new-err.log
/.tmp-cloudflared-new-out.log
/.tmp-host-fetchAdults-err.log
/.tmp-host-fetchAdults-out.log
/reports/
/weekly_tasks/
/weekly-task/
/redmine/
/blog_posts/
/blog-posts/
/Zeffy/bin/Debug/net8.0/Zeffy.deps.json
/Zeffy/bin/Debug/net8.0/Zeffy.deps.json
/Helcim.Repository.Implementation/Scripts/AlterHelcimTransactionPrimaryKeyToTransactionId.sql
/docs/school-pricing-report.html
/docs
/Zeffy/bin/Debug/net8.0
/ExternalContracts/MaktabDataContracts.pdb
/ExternalContracts/MaktabDataContracts.deps.json
/Zeffy.Implementation/bin/Debug/net8.0
/Zeffy.Registry/bin/Debug/net8.0
/Zeffy.Repository.Implementation/bin/Debug/net8.0
/Zeffy.Repository/bin/Debug/net8.0
