################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maktab/FileContentIndex/738cefd1-35a5-403a-8585-a1663e18272a.vsidx
/.vs/Maktab/v17
/Application.Users/bin
/Application.Users/obj
/Application.Users.Implementation/bin
/Application.Users.Implementation/obj
/Application.Users.Registry/bin
/Application.Users.Registry/obj
/Application.Users.Repository/bin
/Application.Users.Repository/obj
/Application.Users.Repository.Implementation/bin
/Application.Users.Repository.Implementation/obj
/CronJob/bin/Debug/net8.0
/CronJob/obj
/CronJob.Implementation/bin/Debug/net8.0
/CronJob.Implementation/obj
/CronJob.Registry/bin/Debug/net8.0
/CronJob.Registry/obj
/Data/bin
/Data/obj
/Data.MySql/bin
/Data.MySql/obj
/Data.MySql.Regjstry/bin
/Data.MySql.Regjstry/obj
/Elavon/bin
/Elavon/obj
/Elavon.Implementation/bin
/Elavon.Implementation/obj
/Elavon.Registry/bin
/Elavon.Registry/obj
/Email/bin
/Email/obj
/Email.Implementation/bin
/Email.Implementation/obj
/Email.Registry/bin
/Email.Registry/obj
/InternalContracts/bin
/InternalContracts/obj
/InternalContracts.Implementation/bin
/InternalContracts.Implementation/obj
/InternalContracts.Registry/bin
/InternalContracts.Registry/obj
/Maktab/bin/Debug/net8.0
/Maktab/obj
/Resiliency/bin
/Resiliency/obj
/Resiliency.Implementation/bin
/Resiliency.Implementation/obj
/Resiliency.Registry/bin
/Resiliency.Registry/obj
/Sedat/obj
/Sedat.Implementation/obj
/Sedat.Registry/obj
/Users.Utils,Implementation/bin
/Users.Utils,Implementation/obj
/Users.Utils/bin
/Users.Utils/obj
/WebMsgSender/bin
/WebMsgSender/obj
/WebMsgSender.Implementation/bin
/WebMsgSender.Implementation/obj
/WebMsgSender.Registry/bin
/WebMsgSender.Registry/obj
