################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maktab/FileContentIndex/738cefd1-35a5-403a-8585-a1663e18272a.vsidx
/.vs/Maktab/v17
/Application.Users/bin
/Application.Users/obj
/Application.Users.Implementation/bin
/Application.Users.Implementation/obj
/Application.Users.Registry/bin
/Application.Users.Registry/obj
/Application.Users.Repository/bin
/Application.Users.Repository/obj
/Application.Users.Repository.Implementation/bin
/Application.Users.Repository.Implementation/obj
/CronJob/bin/Debug/net8.0
/CronJob/obj
/CronJob.Implementation/bin/Debug/net8.0
/CronJob.Implementation/obj
/CronJob.Registry/bin/Debug/net8.0
/CronJob.Registry/obj
/Data/bin
/Data/obj
/Data.MySql/bin
/Data.MySql/obj
/Data.MySql.Regjstry/bin
/Data.MySql.Regjstry/obj
/Elavon/bin
/Elavon/obj
/Elavon.Implementation/bin
/Elavon.Implementation/obj
/Elavon.Registry/bin
/Elavon.Registry/obj
/Email/bin
/Email/obj
/Email.Implementation/bin
/Email.Implementation/obj
/Email.Registry/bin
/Email.Registry/obj
/InternalContracts/bin
/InternalContracts/obj
/InternalContracts.Implementation/bin
/InternalContracts.Implementation/obj
/InternalContracts.Registry/bin
/InternalContracts.Registry/obj
/Maktab/bin/Debug/net8.0
/Maktab/obj
/Resiliency/bin
/Resiliency/obj
/Resiliency.Implementation/bin
/Resiliency.Implementation/obj
/Resiliency.Registry/bin
/Resiliency.Registry/obj
/Sedat/obj
/Sedat.Implementation/obj
/Sedat.Registry/obj
/Users.Utils,Implementation/bin
/Users.Utils,Implementation/obj
/Users.Utils/bin
/Users.Utils/obj
/WebMsgSender/bin
/WebMsgSender/obj
/WebMsgSender.Implementation/bin
/WebMsgSender.Implementation/obj
/WebMsgSender.Registry/bin
/WebMsgSender.Registry/obj
/.vs/Maktab/DesignTimeBuild
/Maktab/bin/Release/Content
/.vs/ProjectEvaluation
/.vs/Maktab/FileContentIndex
/.vs/Maktab/config
/Courses/bin/Debug/net8.0
/Courses/obj
/Courses.Implementation/bin/Debug/net8.0
/Courses.Implementation/obj
/Courses.Registry/bin/Debug/net8.0
/Courses.Registry/obj
/Courses.Repository/bin/Debug/net8.0
/Courses.Repository/obj
/Courses.Repository.Implementation/bin/Debug/net8.0
/Courses.Repository.Implementation/obj
/Users.Repository/obj
/Users.Repository.Implementation/obj
/Zeffy/bin/Debug/net8.0/Zeffy.dll
/Zeffy/obj/Debug/net8.0/ref/Zeffy.dll
/Zeffy/obj/Debug/net8.0/refint/Zeffy.dll
/Zeffy/obj/Debug/net8.0/Zeffy.AssemblyInfo.cs
/Zeffy/obj/Debug/net8.0/Zeffy.AssemblyInfoInputs.cache
/Zeffy/bin/Debug/net8.0/Zeffy.pdb
/Zeffy/obj/Debug/net8.0/Zeffy.dll
/Zeffy/obj/Debug/net8.0/Zeffy.pdb
/Zeffy/obj/Debug/net8.0/Zeffy.sourcelink.json
/Zeffy.Implementation/bin/Debug/net8.0/Courses.dll
/Zeffy.Implementation/bin/Debug/net8.0/Courses.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.pdb
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Implementation/obj/Debug/net8.0/ref/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/refint/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.AssemblyInfo.cs
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.AssemblyInfoInputs.cache
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.csproj.AssemblyReference.cache
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Implementation/obj/Debug/net8.0/Zeffy.Implementation.sourcelink.json
/Zeffy.Registry/bin/Debug/net8.0/Courses.dll
/Zeffy.Registry/bin/Debug/net8.0/Courses.pdb
/Zeffy.Registry/bin/Debug/net8.0/Data.dll
/Zeffy.Registry/bin/Debug/net8.0/Data.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Implementation.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Implementation.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Registry.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Registry.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Registry/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.sourcelink.json
/Zeffy.Repository/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Repository/obj/Debug/net8.0/ref/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/refint/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.AssemblyInfo.cs
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.AssemblyInfoInputs.cache
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.sourcelink.json
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Data.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Data.pdb
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Repository.Implementation/bin/Debug/net8.0/Zeffy.Repository.pdb
/Zeffy.Registry/obj/Debug/net8.0/ref/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/refint/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.AssemblyInfo.cs
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.AssemblyInfoInputs.cache
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.csproj.AssemblyReference.cache
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.dll
/Zeffy.Registry/obj/Debug/net8.0/Zeffy.Registry.pdb
/Zeffy.Repository.Implementation/obj/Debug/net8.0/ref/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/refint/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.AssemblyInfo.cs
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.AssemblyInfoInputs.cache
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.csproj.AssemblyReference.cache
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.dll
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.pdb
/Zeffy.Repository.Implementation/obj/Debug/net8.0/Zeffy.Repository.Implementation.sourcelink.json
/Zeffy.Implementation/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Implementation/bin/Debug/net8.0/Zeffy.Implementation.deps.json
/Zeffy/obj/Debug/net8.0/Zeffy.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/Zeffy.Registry/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Repository/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy.Repository/obj/Debug/net8.0/Zeffy.Repository.csproj.AssemblyReference.cache
/Zeffy.Repository.Implementation/bin/Debug/net8.0/MaktabDataContracts.dll
/Zeffy/bin/Debug/net8.0/MaktabDataContracts.dll
